apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  labels:
    app: ces
  name: {{ include "k8s-ces-assets.name" . }}-ingress
spec:
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ .Release.Namespace }}
          podSelector:
            matchLabels:
              k8s.cloudogu.com/component.name: k8s-ces-gateway
  podSelector:
    matchLabels:
      {{- include "k8s-ces-assets.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
